// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.h2 {
    font-weight: $base-font-weight;
    font-size: $base-font-size * 1.3125;
  }

.links-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit/2;
  }
}

.card {

  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 $border-color-01;
  max-width: 40%;
  transition: 0.2s;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: $border-color-01;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 8px 0 $border-color-01;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}